{% extends "layout.html" %}
{% block title %}Hello, Rainist!{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" action="/login" method="post">

        <div class="form-group">
          <label>Email</label>

          <input type="email" name="email" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" required>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">Login</button>
          <a class="btn btn-default btn-lg btn-register" href="/register">Register</a>
        </div>

        <hr>
        <div>
          <a class="btn btn-facebook" href="/auth/facebook">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-twitter" href="/auth/twitter">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
{% endblock %}
